.placeholder{
  
  width: 300px;
  height: 400px;
}

main{
  /* color:white; */
  flex: 1;
  padding: 1rem;
  background: #e0dfdf no-repeat;
  background-size: cover;
  /* width: 80%; */
}
.side-nav ul li{
  min-width: 200px;
}
.editor{
  color:black;
}
.editor #editor{
  min-height: 30vh;
}
input{
  background-color: grey;
}
.form{
  width: 80%;
  margin: 0 auto;
}
