*{
  box-sizing: border-box;
}
html,body{
  height: 100%;
}

.navbar{
  background-color: #020873 !important; 
}
p{
  color:blue;
}

.nav-link{
  color: white;
}

.container-fluid{
  background-color: #020873 !important; 
}

.navbar-brand img{
  width: 60px;
  height: 50px;
}